<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.syz.indoorlocation" >

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainfunc.RecordActivity"
            android:label="@string/title_activity_record" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.syz.indoorlocation.MainActivity" />
        </activity>
        <activity
            android:name=".mainfunc.SearchActivity"
            android:label="@string/title_activity_search" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.syz.indoorlocation.MainActivity" />
        </activity>
    </application>

</manifest>
